<section class="map  grey darken-3">
  <div class="row" ng-show="formVisible">
    <form class="col s12">
      <div class="row">
        <h1>Insert postcode or city</h1>
        <div class="input-field col s5">
          <input id="city" ng-model="city" type="text" class="validate">
          <label for="city">City</label>
        </div>
        <div class="input-field col s5">
          <input id="postcode" ng-model="postcode" type="text" class="validate">
          <label for="postcode">postcode</label>
        </div>
        <div class="input-field col s2">
          <a class="waves-effect waves-light btn" ng-click="getLocation()"><i class="material-icons right">cloud</i>DISCOVER WEATHER</a>
        </div>
      </div>
    </form>
  </div>
  <div id="map"></div>
</section>
